In [1]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
import random

In [2]:
pd.options.display.max_colwidth = 500

In [3]:
engine = create_engine("mysql://root@localhost/parkzen")

# Get lat-long

In [4]:
lat_long = pd.read_csv('../random_lat_long.csv')

In [5]:
lat_long.rename(columns={'id': 'user_id', 'long': 'lon'}, inplace=True)

In [6]:
lat_long.drop(labels='random', inplace=True, axis=1)

In [7]:
lat_long['address'] = ['123 Bannerghatta Road, JP Nagar, Bangalore 560076 Karnataka'] * lat_long.shape[0]

In [8]:
usernames = ['navaneethan', 'ankit', 'hruthika']*17
usernames = usernames[:-1]
random.shuffle(usernames)

username_map = {'navaneethan': 1, 'ankit': 2, 'hruthika': 3}

In [9]:
lat_long['user_id'] = usernames

In [10]:
lat_long['user_id'] = lat_long['user_id'].apply(lambda u: username_map[u])

In [11]:
lat_long.head()

,user_id,lat,lon,address
0,2,12.907909,77.607073,"123 Bannerghatta Road, JP Nagar, Bangalore 560076 Karnataka"
1,3,12.907506,77.607736,"123 Bannerghatta Road, JP Nagar, Bangalore 560076 Karnataka"
2,1,12.912361,77.602853,"123 Bannerghatta Road, JP Nagar, Bangalore 560076 Karnataka"
3,3,12.906575,77.602821,"123 Bannerghatta Road, JP Nagar, Bangalore 560076 Karnataka"
4,1,12.911095,77.599719,"123 Bannerghatta Road, JP Nagar, Bangalore 560076 Karnataka"

In [14]:
with engine.connect() as conn, conn.begin():
    lat_long.to_sql(name='app_location', con=conn, if_exists='append', index=False)

# Scratch

This is the old way of doing things - `pandas` does not support it

`import MySQLdb`

`conn = MySQLdb.connect(host='localhost', user='root', password='')
cursor = conn.cursor()
cursor.execute('show databases')
for database in cursor:
    print(database)
cursor.execute('use parkzen')
cursor.execute('desc app_location')
for location in cursor:
    print(location)`