In [5]:
import pandas as pd
import MySQLdb

In [3]:
lat_long = pd.read_csv('../random_lat_long.csv')

In [19]:
lat_long.rename(columns={'id': 'user_id'}, inplace=True)

In [21]:
lat_long.drop(labels='random', inplace=True, axis=1)

In [22]:
lat_long.head()

   user_id        lat       long
0        0  12.907909  77.607073
1        1  12.907506  77.607736
2        2  12.912361  77.602853
3        3  12.906575  77.602821
4        4  12.911095  77.599719

In [9]:
conn = MySQLdb.connect(host='localhost', user='root', password='')

In [10]:
cursor = conn.cursor()

In [11]:
cursor.execute('show databases')

5

In [13]:
for database in cursor:
    print(database)

('information_schema',)
('mysql',)
('parkzen',)
('performance_schema',)
('sys',)

In [14]:
cursor.execute('use parkzen')

0

In [16]:
cursor.execute('desc app_location')

4

In [17]:
for location in cursor:
    print(location)

('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('lat', 'varchar(12)', 'NO', '', None, '')
('lon', 'varchar(12)', 'NO', '', None, '')
('user_id', 'int(11)', 'NO', 'MUL', None, '')

In [18]:
lat_long.to_sql(name)